.authModal {
    height:50vh;
    display: flex;
    background-color: black;
    max-height: 375px;
}

.innerModal {
    position: relative;
    padding: 20px;
    width: 40vw;
    max-height: 40vh;
    color:rgb(0, 0, 0);
    background-color: rgb(159, 158, 158);
    border: 2px dashed black;
    border-radius: 10px;
    margin-left: 80vw;
    z-index: 100;
}

.innerModal .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.center-title{
    text-align: center;
    text-decoration: underline;
    font-size:large;
}