.authModal {
    width:250px;
    height:50vh;
    display: flex;
    justify-content: center;
}

.innerModal {
    position: relative;
    padding: 20px;
    width: 100vw;
    max-height: 40vh;
    color:rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
    border: 2px dashed black;
    border-radius: 10px;
}

.innerModal .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.center-title{
    text-align: center;
    text-decoration: underline;
    font-size:large;
}