.authModal {
    padding: 20px;
    display: flex;
    background-color: black;
    max-height: 400px;
    align-items: center;
    justify-content: right;
}

.innerModal {
    position: relative;
    padding: 20px;
    margin-right: 5%;
    min-width: 200px;
    max-width: 20%;
    max-height: auto;
    color:rgb(0, 0, 0);
    background-color: rgb(159, 158, 158);
    border: 2px dashed black;
    border-radius: 10px;
    z-index: 100;
}

.innerModal .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.center-title{
    text-align: center;
    text-decoration: underline;
    font-size:large;
}