.gamesContainer, .collectiblesContainer, .consolesContainer, .accessoriesContainer {
  min-height: 100vh;
}

.gameCard,
.collCard,
.accCard,
.conCard {
    align-items: center;
}

.cards {
    justify-content: center;
}

.gamesPage,
.consolesPage,
.collectiblesPage,
.accesoriesPage {
  background-image: url("https://pbs.twimg.com/media/DqvmspaWkAAQ28a.jpg:large");
  background-repeat: no-repeat;
  background-attachment: fixed;
}