img {
    max-width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
    padding: 15px;
}

.logo {
    display: block;
    margin-left: 50vmax;
    margin-right: 50vmax;
    margin-bottom: 20px;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.homecard {
    background-color: rgba(138, 192, 240, 0.666);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    max-width: 300px;
    max-height: 400px;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}